
.box{
    height: 100px;
    width: 100px;
    background-color: #14B997;
    /* animation-name: change-bg-color; */
    /* animation-duration: 3s; */
    /* animation-delay: 2s; */
    /* animation-iteration-count: 3; */
    /* animation-fill-mode: forwards; */
    /* border-radius: 10px; */
    position: relative;
    /* margin-left: 50px; */
    /* animation: change 3s forwards 1s infinite ease-in-out; */
    /* transition: background 1s ease-in-out,
                width 1s ease-in-out,
                height 1s ease-in-out; */
    /* transition: all 1s ease-in-out; */
    /* transform-origin: 0% 100%;
    transform-origin: top left; */

    transition: all 1s ease-in-out;

}

.box-main{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    position: absolute;
    top: 0;
    left: 50%;

    left: 632.5px;
    transform: rotate(15deg);
    border-radius: 10px;
    transition: all 1s ease-in-out;
}

.app-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem auto;
}

/* .box:hover{
    background-color: blueviolet;
    width: 200px;
    height: 200px;
} */

.box:hover{
    transform: rotate(60deg);
    /* transform: scaleX(1.5);
    transform: scaley(1.5); */
    /* transform: scale(1.2,2); */
    /* transform: translateX(50px); */
    /* transform: translateY(50px); */
    /* transform: translate(50px,50px); */
    /* transform: skewX(25deg);
    transform: skewY(25deg);
    transform: skew(25deg, 25deg); */
}

/* @keyframes change-bg-clolor{
        from{
            background-color: #046450;
         border-radius: 0;

        }
        to{
            background-color: #01120E;
        border-radius: 50px;

        }
    } */


    @keyframes change {
    0%{
           top: 0;
           left: 0px;
           border-radius: 10px;
    }
    25%{
        top: 0;
           left: 250px;
           border-radius: 20px;

    }
    50%{
        top: 250px;
        left: 250px;
        border-radius: 30px;

    }
    75%{
        left: 0;
        top: 250px;
        border-radius: 40px;

    }
    100%{
        left: 0;
        top: 0;
        border-radius: 50px;


    }
}


/* ---------------------------------------------- */

/* Overlay Effect */

.box-logo{
    /* border: 2px solid red; */
    height: 300px;
    width: 500px;
    position: relative;
    margin: 5rem auto;
}

img{
    display: block;
    height: 100%;
    width: 100%;
    /* height: 500px; */

}


.hover-content{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0%;
    left: 0%; 
    height: 100%;
    width: 100%;
    /* transform: translate(-50%, -65%); */
    color: yellow;
    text-align: center;
    z-index: 5;
    opacity: 0;
    transition: all 1s ease-in-out;

}

a{
    background-color: blueviolet;
    padding: 0.25rem 1rem;
    text-decoration: none;
    color: antiquewhite;
    border-radius: 5px;
}

.box-logo::after{
    content: "";
    position: absolute;
    display: block;
    top: 100%;
    /* bottom: 100%; */
    height: 0%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.479);
    opacity: 0;
    transition: all 1s ease-in-out;


}

.hover-content:hover{
    opacity: 1;
}

.box-logo:hover::after{
    opacity: 1;
    top: 0%;
    height: 100%;



}